<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
  <title>SLT Usage Analyzer</title>
</head>
<body>

  <nav>
    <a href="{{ url_for('summary') }}" class="button">Summary</a>
    <a href="{{ url_for('usage', tp='Standard') }}" class="button">Standard</a>
    <a href="{{ url_for('usage', tp='Free') }}" class="button">Free</a>
    <a href="{{ url_for('vas') }}" class="button">VAS</a>
    <a href="{{ url_for('refresh') }}" class="button" id="refresh">Refresh</a>
  </nav>
  <main>
    {% block content %}
    {% endblock %}
  </main>

  <footer>
    <p>Report time: {{ report_time }}</p>
  </footer>

</body>
</html>
