{% extends 'base.html' %}
{% block content %}

<h1>{{ tp }} Usage Details</h1>
<div class="usage-root-container">
  <div class="usage-sub-container">
    <div class="progress-container" style="margin: 10px">
      <div class="progress-strip" id="usage-progress-strip">
        <div class="progress-label">
          <p id="vas-prog-lbl">{{ rem_perc }}% Remaining</p>
        </div>
      </div>
      <table style="margin: 30px">
        <tr>
          <th class="usage-tbl">Used</th>
          <td class="usage-tbl">{{ used }}GB</td>
        </tr>
        <tr>
          <th class="usage-tbl">Remaining</th>
          <td class="usage-tbl">{{ remaining }}GB</td>
        </tr>

        <tr>
          <th class="usage-tbl">Average Usage</th>
          <td class="usage-tbl">{{ used_avg }}GB</td>
        </tr>
        <tr>
          <th class="usage-tbl">Average Remaining</th>
          <td class="usage-tbl">{{ rem_avg }}GB</td>
        </tr>
      </table>
    </div>
  </div>

  <div class="usage-progress-bar" id="usage-prog-bar">
    <p style="text-align: left;color: #ebfae1;font-size: 18px">{{ calc_val }}%</p>
  </div>
</div>

<script>
  /*
  Sources: 
    - https://www.w3schools.com/jquery/jquery_syntax.asp
    - https://stackoverflow.com/questions/35180190/how-to-dynamically-modify-css-using-python
  */
  let rem_angle = {{ rem_angle }}
  let calc_val = {{ calc_val }}
  let bar_val = {{ bar_val }}
  $('#usage-progress-strip').css("background-image", "conic-gradient(#3ccd6a " + rem_angle + "deg, #3077b4 0deg)");
  $("#usage-prog-bar").css("background-image", "linear-gradient(90deg, #3CCD6A " + bar_val + "%, #3077B4 0%)");
</script>

{% endblock %}
