{% extends "base.html" %}
{% block content %}

<h1>VAS Summary</h1>

<div class="vas-container">
    <div class="progress-meter">
        <div class="progress-strip" id="progress-strip">
            <div class="prog-content">
                <h4 style="text-align: center">{{ total_perc }}% REMAINING</h4>
            </div>
        </div>
    </div>
    <table>
        <tr>
            <th>Service name:</th>
            <td>{{ vas_name }}</td>
        </tr>
        <tr>
            <th>Limit</th>
            <td>{{ vas_limit }}GB</td>
        </tr>
        <tr>
            <th>Used:</th>
            <td>{{ used }}GB</td>
        </tr>
        <tr>
            <th>Remaining:</th>
            <td>{{ rem }}GB</td>
        </tr>
        <tr>
            <th>Exp. data:</th>
            <td>{{ exp_date }} ({{ remaining_days }} days)</td>
        </tr>
    </table>
</div>

<script>
  let perc = {{ total_perc }};
  $('#progress-strip').css("background-image", "conic-gradient(#3CCD6A " + perc + "%, #3077B4 0%)");
</script>

{% endblock %}
