* {
  margin: 0;
  padding: 0;
}

:root {
  --background-color: #0B2A58;
  --container-background-color: #0F3B7A;
  --container-border: #5374A2;
  --button-color: #1977D1;
  --button-hover-color: #0056A3;
  --font-color: #eee;
}

body {
  background-color: var(--background-color);
  min-height: 100vh;
  display: grid;
  grid-template-columns: min(200px, 20%) 1fr;
  grid-template-rows: 1fr max(50px, 5%);
  grid-template-areas: 
  "navbar main"
  "footer footer";
}
@media screen and (max-width: 450px) {
  body {
    grid-template-columns: 1fr;
    grid-template-rows: auto 1fr auto;
    grid-template-areas: 
    "navbar"
    "main"
    "footer";
  }
  nav {
    background-color:#003580 ;
    grid-area: navbar;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    /* align-items: center; */
    /* padding: 10px; */
  }
}

@media screen and (min-width: 450px) {
  nav {
    flex-direction: column;
  }
}

nav {
  background-color: var(--container-background-color);
  border: 2px solid var(--container-border);
  grid-area: navbar;
  display: flex;
  /* flex-direction: column; */
  align-items: center;
  padding: 10px;
  border-radius: 10px;
  margin: 5px;
}
main {
  background-color: var(--container-background-color);
  border: 2px solid var(--container-border);
  border-radius: 10px;
  margin: 5px;
  grid-area: main;
  padding: 5px;
}
footer {
  background-color: #0056a3;
  color: #eee;
  grid-area: footer;
  padding: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.button {
  text-decoration: none;
  font-size: clamp(1rem, 2.5vw, 3rem); 
  width: 85%;
  color: var(--font-color);
  background-color: var(--button-color);
  padding: 5px;
  border-radius: 10px;
  margin: 5px;
  flex-grow: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}
.button:hover {
  background-color: var(--button-hover-color);
}
